body {
    font-family: Roboto, sans-serif;
}

.top {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    gap: 600px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

li,
#herotext-sub,
#call-sub {
    font-size: 18px;
    color: #e5e7eb;
}

#herotext {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.top-sub {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.placeholder1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
    color: #f4f4f5;
}

.button {
    background-color: #3882f6;
    padding: 4px 16px;
    border-radius: 8px;
    margin-top: 10px;
    color: #e5e7eb;
}

.signup {
    border: 1px solid #3882f6;
}

.signcall {
    border: 1px solid #e5e7eb;    
}

.awesome,
.placeholder1 {
    width: 500px;
    margin: 50px;
}

.second {
    text-align: center;
}

.blue-box {
    border: 4px solid #3882f6;
    border-radius: 20px;
    flex-shrink: 0;
    height: 188px;
    margin-bottom: 10px;
}

.box-row {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 50px;
    padding-bottom: 100px;
}

.boxes {
    max-width: 188px;
}

.randifo {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 30px 0;
}

.third {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-weight: 200;
    text-align: left;
    font-size: 36px;
    font-style: italic;
    max-width: 825px;
    color: #1f2937;
}

#thor {
    font-weight: bold;
    text-align: right;
    font-size: 24px;
    color: #1f2937;
    padding-top: 20px;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#call {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
    gap: 150px;
}

.call-text {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

#call-sub {
    font-weight: 400;
    padding-top: 10px;
}

.footer {
    background-color: #1f2937;
    font-size: 20px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}